<h1>Product: <%= product.name %></h1>
<table class="table">
    <tr>
        <th>Picture</th>
        <img style="width: 80px" src="<%= product.picture %>" alt="">
    </tr>
    <tr>
        <th>Price</th>
        <td>$<%= product.price %></td>
    </tr>
</table>