<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
    <title>Confetti Cuisine</title>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"
        type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- <nav>
        <div>
            <h1 id="title">Bonico</h1>
        </div>
        <div class="links">
            <a href="/">
                <span class="button">Home</span>
            </a>
            <a href="/products">
                <span class="button">Products</span>
            </a>
            <a href="/contact">
                <span class="button">Contact</span>
            </a>
        </div>
    </nav> -->

    <nav class="navbar">
        <div class="top-decor"> <!-- I guess this is not necessary anymore... gona check tomorow -->
            ¡Envíos gratis a toda Colombia!
        </div>
        <div style="height: 1.5rem;">
            
        </div>
        <div class="nav-content">
            <!-- <h1 class="logo">Phono</h1> -->
            <img class="logo" src="/images/logo.png" alt="" srcset="">
            <ul class="nav">
                <li><a href="#home">Tienda</a></li>
                <li><a href="#about">Marcas</a></li>
                <li><a href="#about">Contáctanos</a></li>

                <li style="display: flex; justify-content: center; align-items: center;">
                    
                    <a>Mi carro</a>
                    <img class="shopping-cart" src="./img/shopping-cart.svg" alt="">
                </li>
                <!-- <li><a href="#specs">Specs</a></li>
            <li><a href="#contact">Contact</a></li> -->
            </ul>
        </div>
    </nav>

    <%- body %>

</body>

</html>