<h1><%= product.name %></h1>
<table class="table">
    <tr>
        <th>Name</th>
        <td><%= product.name %></td>
        <img src="<%= product.picture %>" alt="" style="width: 80px">
        <td><%= product.price %></td>
    </tr>

</table>